@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#question {
  font-weight: 700;
  font-size: 200%;
  margin: auto;
}

.end-message {
  display: none;
}

.answer {
  color: white;
  height: 50%;
  width: 50%;
  line-height: 400px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.blue {
  background-color: #1368ce;
}

.orange {
  background-color: #eb670f;
}

.green {
  background-color: #26890c;
}

.red {
  background-color: #eb213c;
}
